@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import 'mixins';

$brandColor: #0e1726;

html {
    height: 101%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: rgb(238, 238, 243);
}

* {
    box-sizing: border-box;
}

nav {
    padding: 30px;
    position: absolute;
    width: 100%;
    z-index: 9;
    .menuToggler {
        @include eqSize(70px);
        font-size: 25px;
        background: #fff;
        border-radius: 100%;
        border: 0;
        @include trans;
        &.toggle {
            transform: rotate(180deg)
        }
    }
}

.main {
    display: flex;
    min-height: 100vh;

    .sidebar {
        background: $brandColor;
        color: #fff;
        min-width: 300px;
        z-index: 8;
        margin-left: -300px;
        @include trans;

        &.opened {
            margin-left: 0;
        }

        @media (max-width: 992px) {
            position: fixed;
            height: 100vh;

            // You must change this to SHOW or HIDE sidebar
            left: -300px;
            &.opened {
                left: 0;
            }
        }

        .links {
            padding: 0;
            margin-top: 130px;

            li {
                list-style: none;

                a {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 15px 35px;
                    opacity: .5;
                    font-size: 18px; 
                    font-weight: bold;
                    @include trans;

                    &:hover {
                        opacity: 1;
                        text-decoration: none;
                    }

                    i {
                        padding-right: 20px;
                        font-size: 25px; 
                        opacity: .5;
                    }

                    .arrow {
                        font-size: 16px;
                        opacity: 1;
                        margin-left: auto;
                        padding: 0;
                        @include trans;
                        &.opened {
                            transform: rotate(180deg)
                        }
                    }
                }

                ul {
                    background: rgba(#000, .2);
                    max-height: 0;
                    padding: 0;
                    overflow: hidden;
                    @include trans;
                    &.opened {
                        padding: 10px 0;
                        max-height: 1000px;
                    }

                    a {
                        padding: 10px 35px;
                    }
                }

            }
        }
    }

    .content {
        width: 100%;
        padding: 30px 50px;
    }
}

.passLaws {
    .passed {
        color: green;
        font-weight: bold;
    }
}